.btn{
  height: 40px;
  width: 40px;
  border: 2px solid gray;
  margin: 10px;
  border-radius: 5px;
}
.buttonsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}